@tailwind base;
@tailwind components;

/* purgecss start ignore */
html, body {
  height: 100%;
  @apply bg-blue-100;
}

.h-128 {
  height: 24rem;
}

.blog-post-content {
  @apply font-sans;
  font-size: 1.1em;
}

.blog-post-content p {
  @apply my-4;
}

.blog-post-content h1 {
  @apply text-4xl font-bold;
}

.blog-post-content h2 {
  @apply text-3xl font-bold;
}

.blog-post-content h3 {
  @apply text-2xl font-bold;
}

.blog-post-content h4 {
  @apply text-xl font-bold;
}

.blog-post-content pre {
  @apply font-mono shadow-inner rounded bg-white px-3 py-2 text-gray-700;
}

.blog-post-content a {
  @apply underline;
}

.project a {
  @apply underline;
}

.blog-post-content ul {
  @apply mx-8;
  list-style-type: circle;
}

.blog-post-content ol {
  @apply mx-8;
  list-style-type: decimal;
}
/* purgecss end ignore */

@tailwind utilities;
