/* purgecss start ignore */

/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

@font-face {
  font-family: Iosevka;
  src: url()
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--text-color);
  background: none;
  font-family: 'Fira Code', 'Input Mono', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
  font-size: 0.9em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.3;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--bg-semi-top-color);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  font-size: 0.8em;
  white-space: normal;
  background: var(--bg-semi-top-color);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--text-secondary-color);
}

.token.punctuation {
  color: var(--blue1);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--blue1);
}

.token.number {
  color: var(--magenta);
}

.token.boolean {
  color: var(--blue1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--green);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--blue1);
}

.token.atrule,
.token.attr-value,
.token.function {
  color: var(--blue2);
}

.token.class-name {
  color: var(--blue2);
  font-weight: bold;
}

.token.keyword {
  color: var(--blue1);
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/* purgecss end ignore */
